
    <html>
    <head>
        <meta charset="UTF-8">
        <title>MenuHelper.java</title>
        <style>
            body { font-family: monospace; white-space: pre; background-color: #f4f4f4; padding: 20px; }
        </style>
    </head>
    <body>
        <h2>MenuHelper.java</h2>
        <pre>package androidx.appcompat.view.menu;

import androidx.appcompat.view.menu.MenuPresenter;

interface MenuHelper {
    void dismiss();

    void setPresenterCallback(MenuPresenter.Callback callback);
}
</pre>
    </body>
    </html>
    