
    <html>
    <head>
        <meta charset="UTF-8">
        <title>NestedScrollingParent2.java</title>
        <style>
            body { font-family: monospace; white-space: pre; background-color: #f4f4f4; padding: 20px; }
        </style>
    </head>
    <body>
        <h2>NestedScrollingParent2.java</h2>
        <pre>package androidx.core.view;

import android.view.View;
import androidx.annotation.NonNull;

public interface NestedScrollingParent2 extends NestedScrollingParent {
    void onNestedPreScroll(@NonNull View view, int i, int i2, @NonNull int[] iArr, int i3);

    void onNestedScroll(@NonNull View view, int i, int i2, int i3, int i4, int i5);

    void onNestedScrollAccepted(@NonNull View view, @NonNull View view2, int i, int i2);

    boolean onStartNestedScroll(@NonNull View view, @NonNull View view2, int i, int i2);

    void onStopNestedScroll(@NonNull View view, int i);
}
</pre>
    </body>
    </html>
    